body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  background-color: #000;
  color: #fff;
}

.App {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.App-bg {

}

.App-canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.App-phrase {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 200px;
  text-align: center;
  font-size: 50px;
  line-height: 72px;
  z-index: 30;
}

@media screen and (max-width: 600px) {
  .App-phrase {
    font-size: 28px;
    line-height: 36px;
    top: 165px;
  }
}

html.is-fontLoaded .App-phrase {
  font-family: Neucha;
}

.App-control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 50;
  text-align: center;
}

.App-slider {
  //display: none;
}

.App-cities {
  display: flex;
  justify-content: center;
}

.App-citiesItem {
  margin: 0 10px;
}

.App-controlButton {
  background: rgba(#fff, 0.2);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  transition: color 400ms ease-in-out, background 400ms ease-in-out;
  user-select: none;
}

.App-controlButton.is-selected_no {
  color: #000;
}

.App-controlButton.is-selected_yes {
  color: #fff;
  background: rgba(#fff, 0.1);
}

.ua-canHover {
  .App.is-animationRunning_no .App-controlButton.is-selected_no {
    cursor: pointer;
    &:hover {
      color: rgba(#000, 0.6);
      background: rgba(#fff, 0.1);
    }
  }
  .App-controlButton.is-selected_yes {
    cursor: default;
  }
  .App.is-animationRunning_yes .App-controlButton.is-selected_no {
    cursor: not-allowed;
  }
}

.App-futureButtonContainer {
  margin-top: 12px;
  display: inline-block;
}

.App-futureButton {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 10px;
  margin: 0 0 0 10px;
}
